.btn {
  background-color: #222222;
  color: #fff;
  font-family: inherit;
  border-radius: 3px;
  border-width: 1px;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  line-height: 1.4;
  padding: 8px 12px;
  text-align: center;
}

.btn.loginButtonInmodal {
  width: 70%;
  border-radius: 24px;
  height: 48px;
}

.btn.demoButtonInmodal {
   width: 70%;
  border-radius: 24px;
  height: 48px;
  background-color: white;
  border: 2px solid #222;
  color: black;
}

.btn.loginButtonInmodal:hover {
  width: 70%;
  border-radius: 24px;
  height: 48px;
  cursor: pointer;
}

.btn.demoButtonInmodal:hover {
   width: 70%;
  border-radius: 24px;
  height: 48px;
  background-color: white;
  border: 2px solid #222;
  color: black;
  cursor: pointer;
}


.btn.signUpmodal {
  width: 70%;
  border-radius: 24px;
  height: 40px;
}