.btn {
  background-color: #222222;
  color: #fff;
  font-family: inherit;
  border-radius: 3px;
  border-width: 1px;
  font-size: 14px;
  font-weight: 500;
  height: 38px;
  line-height: 1.4;
  padding: 8px 12px;
  text-align: center;
}

.btn.loginButtonInmodal {
  width: 80%;
  border-radius: 12px;
  height: 48px;
  background-color: #E61E4D;
  border: none;
}

.btn.demoButtonInmodal {
  width: 70%;
  border-radius: 12px;
  height: 48px;
  background-color: #E61E4D;
  color: white;
  border: none;
}

.btn.loginButtonInmodal:hover {
  width: 80%;
  height: 48px;
  cursor: pointer;
}

.btn.demoButtonInmodal:hover {
  width: 70%;
  height: 48px;
  cursor: pointer;
}


.btn.signUpmodal {
  width: 70%;
  border-radius: 12px;
  height: 48px;
  background-color: #E61E4D;
  border: none;
}

.btn.signUpmodal:hover {
  width: 70%;
  height: 48px;
  cursor: pointer;
}

.btn.cancelReservationButton {
  border-radius: 24px;
  height: 48px;
  cursor: pointer;
  background-color: red;
  border: none;
  margin-right: 20px;
  width: 70px;
}

.btn.noCancelReservationButton {
  border-radius: 24px;
  height: 48px;
  cursor: pointer;
  background-color: black;
  border: none;
  margin-right: 20px;
  width: 70px;
}