.pasTripsPage {
  display: flex;
  flex-direction: column;
}

.pastTripsMainContainer {
  width: 100%;
  height: fit-content;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.pastTripsMainContent {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 89%;
  margin-top: 30px;
}

.placesYouBeenTextPastTripsPage {
  margin-top: 20px;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 20px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

.page-path-places-you-been {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 200px;
}

.placesYouBeenGallery {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, minmax(181px, 300px));
  grid-row-gap: 50px;
  row-gap: 50px;
  grid-column-gap: 20px;
  -webkit-column-gap: 18px;
  column-gap: 30px;
  width: 100%;
  height: fit-content;
  justify-content: space-between;
  margin-top: 40px;
  min-height: 500px;
}

.haventBeenAnywhereText {
  width: fit-content;
  font-size: 25px;
  font-weight: 500;
  margin-top: 50px;
}

@media only screen and (max-device-width: 428px) and (max-device-height: 926px) {
  .pastTripsMainContainer {
    width: 100%;
    height: fit-content;
    margin-top: 180px;
    display: flex;
    justify-content: center;
  }

  .placesYouBeenGallery {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, minmax(181px, 300px));
    grid-row-gap: 50px;
    row-gap: 50px;
    grid-column-gap: 20px;
    -webkit-column-gap: 18px;
    column-gap: 30px;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    margin-top: 40px;
    min-height: 500px;
    margin-bottom: 100px;
  }

  .page-path-places-you-been {
    width: 320px;
  }

  .placesYouBeenTextPastTripsPage {
    margin-top: 40px;
    font-size: 40px;
  }

  .haventBeenAnywhereText {
    font-size: 30px;
  }

  .pastTripsMainContent {
    margin-top: 90px;
  }
}
