.manageListingsPage {
  display: flex;
  flex-direction: column;
}

.myListingsContainer {
  width: 100%;
  height: fit-content;
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.listingsMainContent {
  width: 89%;
  height: fit-content;
  margin-top: 30px;
  flex-direction: column;
}

#YourListingsText {
  font-size: 32px;
  border-bottom: 1px solid #dddddd;
  padding-bottom: 15px;
  margin-top: 15px;
}

.listingCard {
  display: flex;
  flex-direction: column;
  width: fit-content;
  height: fit-content;
}

#yourListingImageCard {
  width: 230px;
  height: 230px;
  border-radius: 12px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  /* filter: brightness(50%); */
}

#writeReviewImageAndCloseIconContainer {
  width: 50%;
  height: 100%;
  position: relative;
  
}
#closeWriteReviewModal {
  font-size: 1.5pc;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
  color: black;
  background-color: #e1dfdf;
  /* border-style: solid; */
  border: none;
  cursor: pointer;
  position: absolute;
  left: 0%;
}

#closeWriteReviewModal:hover {
  background-color: white;
}

#writeReviewSpotImageText {
  width: 100%;
  position: absolute;
  top: 40%;
  color: white;
  display: flex;
  justify-content: center;
  font-size: 30px;
  font-weight: 500;
}

#missingRatingError {
  color: red;
}

#writeReviewModalWriteReviewText {
  display: flex;
  width: 100%;
  margin-top: 30px;
  font-size: 22px;
  justify-content: center;
}

#writeReviewModalReviewContent {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}

#writeReviewModalTellUsThoughtsAndTextAreaContainer {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
}

#writeReviewModalTellUsThoughts {
  display: flex;
  width: 80%;
  margin-top: 30px;
  font-size: 18px;
  justify-content: flex-start;
  align-items: center;
}

#writeReviewCharacterLimitTip {
  font-size: 14px;
  color: grey;
  margin-bottom: 5px;
}

#writeReviewCharacterLimitTipError {
  font-size: 14px;
  color: red;
  margin-bottom: 5px;
}

#writeReviewCharacterLimitAndTextAreaContainer {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 80%;
}

#writeReviewTextArea {
  height: 150px;
  resize: none;
  border: 1px solid #c7c5c5;;
  border-radius: 4px;
  font-family: apple-system, BlinkMacSystemFont, "Roboto", "Droid Sans", "Segoe UI", "Helvetica", Arial, sans-serif;
  padding: 10px;
}

#writeReviewSubmitReviewContainer {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-top: 20px;
}

#submitReviewButton {
  background-color: #242323;
  color: white;
  padding: 10px 13px;
  border-radius: 8px;
  cursor: pointer;
  border: none;
}

#submitReviewButton:hover {
  background-color: black;
}

#writeReviewTextArea:focus {
  outline: none;
}

#writeReviewMainContentContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.yourlistingsContainer {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: repeat(4, minmax(181px, 300px));
  grid-row-gap: 50px;
  row-gap: 50px;
  grid-column-gap: 20px;
  -webkit-column-gap: 18px;
  column-gap: 30px;
  height: fit-content;
  justify-content: space-between;
  margin-top: 40px;
  min-height: 500px;
}

.listingNameAndPriceContainer {
  display: flex;
  flex-direction: column;
  width: 230px;
  margin-top: 10px;
}

#listingAddress {
  font-weight: 600;
}

#listingPriceYourListings {
  font-size: 16px;
  font-weight: 300;
  margin-top: 10px;
}

#writeAReviewButton {
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  border-color: #222222;
  padding: 5px 5px;
  width: fit-content;
  cursor: pointer;
  margin-top: 10px;
}

#writeAReviewButton:hover {
  background: #F7F7F7;
}

#listingNameListingCard {
  margin-bottom: 15px;
}

.page-path-manage-listings {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 180px;
}

@media only screen and (max-device-width: 428px) and (max-device-height: 926px) {
  .yourlistingsContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(2, minmax(181px, 300px));
    grid-row-gap: 50px;
    row-gap: 50px;
    grid-column-gap: 20px;
    -webkit-column-gap: 18px;
    column-gap: 30px;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    margin-top: 40px;
    min-height: 500px;
  }

  .myListingsContainer {
    margin-top: 200px;
    margin-bottom: 100px;
  }

  .page-path-manage-listings {
    width: 280px;
    display: flex;
    align-items: center;
  }

  #YourListingsText {
    margin-top: 40px;
    font-size: 40px;
  }

  .listingsMainContent {
    margin-top: 50px;
  }
}
