.MyTripsPageContainer {
    /* background-color: aqua; */
    display: flex;
    flex-direction: column;
}

.mainContentTripsPage {
    display: flex;
    height: fit-content;
    align-items: center;
    flex-direction: column;
    margin-top: 80px;
}

.TripsTextTripsPage {
    display: flex;
    /* background-color: aqua; */
    width: 89%;
    height: 97px;
    font-size: 25px;
    font-weight: 500;
    align-items: center;
    border-bottom: 1px solid rgb(221, 221, 221);
    padding-top: 10px;
    margin-bottom: 50px;
    /* line-height: 36px; */
}

.tripsSpotCardSection {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 89%;
    border-bottom: 1px solid rgb(221, 221, 221);
}

.noTripsSection {
    display: flex;
    flex-direction: column;
    height: 202px;
    width: 89%;
    font-size: 22px;
    font-weight: 600;
}

@media only screen and (max-device-width: 428px) and (max-device-height: 926px) {
    .tripsSpotCardSection {
        margin-top: 20px;
    }

    .mainContentTripsPage {
        margin-top: 230px;
        margin-bottom: 154px;
    }

}