.LoginForm {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.closeIconAndLoginText {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 64px;
  border-bottom: 1px solid #dddddd;
}

.closeLoginContainer {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loginTextInModal {
  display: flex;
  width: 70%;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}

.closeLoginModalIcon {
  font-size: 24px;
}

.closeLoginModalIcon:hover {
  font-size: 24px;
  cursor: pointer;
}

.closeLoginCircleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 30px;
  height: 30px;
}

.closeLoginCircleContainer:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #dddddd;
  width: 30px;
  height: 30px;
}

.welcomeToTextLoginContainer {
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  margin-left: 30px;
  font-size: 20px;
  color: #e61e4d;
  font-size: 20px;
}

.emailLoginInputBar {
  width: 90%;
  height: 56px;
  font-size: 18px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  border-left: 1px solid #c7c5c5;
  border-right: 1px solid #c7c5c5;
  border-top: 1px solid #c7c5c5;
  border-bottom: none;
}

.emailLoginInputBar::placeholder {
  font-size: 17px;
}

.emailLoginInputBar:focus {
  outline: none !important;
  border: 2px solid black;
}

.passwordInputBarLogin:focus {
  outline: none !important;
  border: 2px solid black;
}

.passwordInputBarLogin {
  width: 90%;
  height: 56px;
  font-size: 18px;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-left: 1px solid #c7c5c5;
  border-right: 1px solid #c7c5c5;
  border-bottom: 1px solid #c7c5c5;
  border-top: 1px solid #c7c5c5;
}

#loginContainer {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-bottom: 30px;
}

.loginInButtonInModalAndDemoButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.or {
  height: 50px;
  display: flex;
  align-items: center;
}

.loginErrors {
  color: red;
  font-size: 13px;
  margin-left: 15px;
}
