.spotListingsPage {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    align-items: center;
}

.listingsAndImageMainContainer {
    display: flex;
    flex-direction: row;
    width: 96%;
    height: 70vh;
    /* background-color: aqua; */
    overflow: hidden;
    /* margin-top: 50px; */
}

.spotCategoryTitle {
    font-size: 30px;
    width: 96%;
    display: flex;
    justify-content: flex-start;
    height: 100px;
    align-items: center;
    margin-top: 80px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.listingsContainer {
    width: 59%;
    min-height: fit-content;
    /* background-color: blueviolet; */
    overflow: auto;
}

/* .listingsContainer::-webkit-scrollbar {
    display: none;
} */

.listingsImageContainer {
    display: flex;
    width: 50%;
    justify-content: center;

}


@media only screen and (max-device-width: 1145px) and (max-device-height: 926px) and (-webkit-min-device-pixel-ratio: 3) {

    .spotCategoryTitle {
        margin-top: 150px;
    }

    .listingsAndImageMainContainer {
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: fit-content;
    }

    .listingsImageContainer {
        height: 400px;
        width: 100%;
        justify-content: flex-start;
    }

    .listingsContainer {
        width: 100%
    }

}

@media only screen and (max-width: 1145px) and (max-height: 1000px) {
    .listingsAndImageMainContainer {
        flex-direction: column-reverse;
        justify-content: flex-end;
        height: fit-content;
    }

    .listingsImageContainer {
        height: 400px;
        width: 100%;
        justify-content: flex-start;
    }

    .listingsContainer {
        width: 100%
    }

    .spotCategoryTitle {
        margin-top: 80px;
    }
}