.NavBarContainer {
    display: flex;
    width: 100%;
    height: 80px;
    /* background-color: aqua; */
    justify-content: center;
    box-shadow: rgb(0 0 0 / 8%) 0 1px 12px;
    
}

.landingPageNavBarContainer {
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: center;
    position: fixed;
    box-shadow: rgb(0 0 0 / 8%) 0 1px 12px;
    
}

.navLogoContainer {
    display: flex;
    width: 33%;
    /* background-color: blueviolet; */
    flex-shrink: 2;
    flex-direction: row;
    align-items: center;
    
}

.centerNavBarContainer {
    display: flex;
    width: 89%;
    height: 80px;
    flex-direction: row;
    position: fixed;
    background-color:white;
    /* background-color: brown; */
    /* flex: 1 0 140px */
    
}

.addSpotSlidesNavBar {
    display: flex;
    width: 89%;
    height: 80px;
    flex-direction: row;
    position: fixed;
}

#navLogo {
    width: 50px;
    height: 50px;
    background-image: url("../../images/Screen\ Shot\ 2022-02-14\ at\ 9.03.44\ PM.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    display: none;
    border-radius: 50%;
    

}

.takeADayTripText {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: -webkit-linear-gradient(
  45deg,
  rgb(1, 1, 164) 0%,
  rgb(116, 1, 142) 11%,
  hsl(315deg 100% 27%) 22%,
  hsl(329deg 100% 36%) 33%,
  hsl(337deg 100% 43%) 44%,
  hsl(357deg 91% 59%) 56%,
  hsl(17deg 100% 59%) 67%,
  hsl(34deg 100% 53%) 78%,
  hsl(45deg 100% 50%) 89%,
  hsl(55deg 100% 50%) 100%
);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 20px;
}

.placesToStayTextContainer {
    display: flex;
    width: 33%;
    justify-content: center;
    align-items: center;

    font-size: 16px;
}

#placesToStayBottomBorder {
    width: 20px;
    /* height: 10px; */
    border-bottom: 1px solid gray;
    margin-top: 10px;
}

.profileButtonContainer {
    display: flex;
    /* background-color: aqua; */
    width: fit-content;
    height: fit-content;
    width: 33%;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
}

.navBarProfileButton {
   width: 77px;
   height: 42px;
   border-radius: 21px;
   background-color: #FFFFFF;
   border: 1px solid #DDDDDD;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 18px;
}

.navBarProfileButton:hover {
   width: 77px;
   height: 42px;
   border-radius: 21px;
   background-color: #FFFFFF;
   border: 1px solid #DDDDDD;
   display: flex;
   flex-direction: row;
   justify-content: center;
   align-items: center;
   margin-top: 18px;
   cursor: pointer;
}

.searchStayContainer{
    display: flex;
    width: 100%;
    height: 64px;
    background-color: aqua;
    justify-content: center;
    margin-top: 10px;
}

.searchStayForm {
    display: flex;
    width: 50%;
    height: 64px;
    background-color: rgb(247, 247, 247);
    justify-content: center;
    border-radius: 32px;
    border: 1px solid rgb(221, 221, 221) 
}

.profileWindow {
    display: flex;
    flex-direction: column;
    min-width: 152px;
    height: 130px;
    margin-top: 10px;
    border-radius: 10px;
    border: 1px solid #DDDDDD;
    z-index: 2000;
    background-color: #FFFFFF;
}

.profileWindowSignupText {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    
}
.profileWindowSignupText:hover {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    cursor: pointer;
}

.profileWindowLoginText {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


.profileWindowHostYourHomeText {
    display: flex;
    width: 100%;
    height:40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.profileWindowHostYourHomeText:hover {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
    cursor: pointer;
    
}

.loginButton {
    text-decoration: none;
    border: none;
    background: none;
    font-family: apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Segoe UI', 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
}

.loginButton:hover {
    text-decoration: none;
    border: none;
    background: none;
    font-family: apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Segoe UI', 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    cursor: pointer;
    background-color: #f7f7f7;
}




.signupButton {
    text-decoration: none;
    border: none;
    background: none;
    font-family: apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Segoe UI', 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.signupButton:hover {
    text-decoration: none;
    border: none;
    background: none;
    font-family: apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Segoe UI', 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    background-color: #f7f7f7;
}

/* .loginButton:hover {
    text-decoration: none;
    border: none;
    background: none;
    font-family: apple-system, BlinkMacSystemFont, 'Roboto', 'Droid Sans', 'Segoe UI', 'Helvetica', Arial, sans-serif;
    font-size: 16px;
    cursor: pointer;
} */