.spotPageNavBar {
  display: flex;
  width: 79%;
  height: 80px;
  flex-direction: row;
}

#spotNameSpotPage {
  font-size: 30px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: bold;
}

.spotPageNavBArContainerParent {
  height: 80px;
  width: 100%;
  box-shadow: rgb(0 0 0 / 8%) 0 1px 12px;
}

.spotPageContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spotNameAndImageSection {
  display: flex;
  width: 79%;
  flex-direction: column;
}

.spotNameAndImageSection > h1 {
  font-weight: normal;
}

.spotPageImagesSection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#locationParentContainer {
  width: 79%;
  margin-bottom: 20px;
}

.spotInfoAndReserveOrEditContainer {
  display: flex;
  flex-direction: row;
  width: 79%;
  margin-top: 30px;
  margin-bottom: 45px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

#mapsParentContainerSpotPage {
  width: 79%;
  height: 75vh;
  display: flex;
  margin-bottom: 45px;
}

#mapsContainerSpotPage {
  width: 100%;
  height: 100%;
  padding-bottom: 80px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

#locationHeader {
  margin: 0px;
  font-size: 25px;
  font-weight: 450;
}

.spotDescriptionAndInfoDiv {
  display: flex;
  width: 66%;
  height: 100%;
  flex-direction: column;
}

.spotDetailsTitleAndStats {
  border-bottom: 1px solid rgb(221, 221, 221);
  display: flex;
  flex-direction: column;
  padding-bottom: 25px;
}

.spotStatContainer {
  display: flex;
  flex-direction: row;
}

.spotStatContainerPetsAllowed {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.reservationAndCancelationTextContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
  border-bottom: 1px solid rgb(221, 221, 221);
}

#doorIcon {
  font-size: 25px;
  margin-right: 15px;
}

.doorAndSelfTextContainer {
  display: flex;
  align-items: center;
}

.checkInYouselfText {
  margin-left: 40px;
  margin-top: 5px;
  color: rgb(113, 113, 113);
  font-size: 14px;
}

#calendarIcon {
  font-size: 25px;
  margin-right: 15px;
}

.calendarAndCancelationText {
  display: flex;
  align-items: center;
  margin-top: 30px;
  padding-bottom: 25px;
}

.spotDescriptionContainer {
  font-weight: 400;
  font-size: 16px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.editDeleteOrReserveSection {
  display: flex;
  width: fit-content;
  height: 500px;
  justify-content: center;
  margin-top: 30px;
  padding-left: 40px;
}

.logInDivSpot {
  width: 354px;
  height: 168px;
  border: 1px solid rgb(221, 221, 221);
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  position: sticky;
  top: 100px;
}

.logInOrSignUpTextContainerSpotPage {
  display: flex;
  width: 200px;
  flex-direction: column;
}

.logInTextSpotPage {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.orTextSpotPage {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.signUpTextSpotPage {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  cursor: pointer;
}

@media only screen and (max-device-width: 428px) and (max-device-height: 926px) {
  .spotInfoAndReserveOrEditContainer {
    flex-direction: column;
    height: fit-content;
  }

  #spotNameSpotPage {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    font-weight: bold;
  }

  .spotPageNavBArContainerParent {
    height: 150px;
  }

  .spotPageNavBar {
    height: 190px;
    justify-content: center;
    margin-top: -5px;
  }

  .spotPageNavBarContainer {
    height: 185px;
    align-items: center;
    margin-top: -5px;
    box-shadow: rgb(0 0 0 / 25%) 0 1px 12px;
  }

  .spotNameAndImageSection {
    margin-top: 30px;
  }

  .editDeleteOrReserveSection {
    padding-left: 0px;
    margin-top: 0px;
    height: fit-content;
    margin-bottom: 100px;
  }
}
