.reserveASpotContainer {
    display: flex;
    height: fit-content;
    flex-direction: column;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 12px;
    width: fit-content;
    box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
    justify-content: center;
    align-items: center;
    position:sticky;
	top: 100px;
    margin-top: 10px;
    padding: 30px 40px;
}

.makeReservationMainContent {
    display: flex;
    width: fit-content;
    height: fit-content;
    flex-direction: column;
    /* background-color: aqua; */
}

.reservePricePerDayContainer{
    display: flex;
    flex-direction: row;
    /* background-color: blueviolet; */
    height: fit-content;
    align-items: center;
    justify-content: space-between;
}

.reserveMainBox {
    display: flex;
    flex-direction: column;
    /* background-color: aqua; */
    height: fit-content;
    width: fit-content;
    border: 1px solid rgb(176, 176, 176);
    border-radius: 8px;
    margin-top: 15px;
}

.reservationDateAndDatePickerContainer {
    /* background-color: blueviolet; */
    height: fit-content;
    display: flex;
    align-items: center; 
    flex-direction: row;
    border-bottom: 1px solid rgb(176, 176, 176);;
}

.btn.addReserveationButton {
    width: 100%;
    border-radius: 12px;
    height: 48px;
    cursor: pointer;
    background-color: #E61E4D ;
    border: none;
}

.addReservationNumberofGuestsText {
    display: flex;
    /* background-color: aqua; */
    height: 50px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    margin-left: 10px;
    flex-direction: row;
}

.totalPriceCalculated {
    display: flex;
    /* background-color: aqua; */
    height: 40px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    align-items: center;
    margin-left: 10px;
    flex-direction: row;
    /* background-color: aqua; */
}

.numberOfGuestsReserve{
     margin-left: 10px;
     width: 50%
}

.calendar {
    margin-top: 5px;
}

.calendarError {
    font-size: 14px;
    color: red;
    height: 30px;
    display: flex;
    align-items: center;
    /* background-color: aquamarine; */
}