#reviewsSectionParentContainer {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 79%;
}

#numberOfReviews {
    font-size: 25px;
    font-weight: 450;
    margin-bottom: 35px;
}

#two-columns-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#reviewCardParentContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 35px;
    margin-right: 80px;
}

#reviewCardUserInfoParentContainer {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

#usersNameAndUserName {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#reviewDescription {
    line-height: 24px;
    font-size: 16px;
    font-weight: 340;
    color: #222222
}

#reviewCardName {
    font-size: 1em;
    font-weight: 600;
}

#reviewCardReviewDate {
    font-size: 14px;
    font-weight: 400;
    color: #717171;;
}

#reviewsShowMoreButton {
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color: #222222;
    padding: 13px 23px;
    width: fit-content;
    font-weight: 500;
    cursor: pointer;
    transition: box-shadow 0.2s ease, transform 0.1s ease;
}

#reviewsShowMoreButton:hover {
    background: #F7F7F7;
}

